language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
before_script:
  # Add an IPv6 config - see the corresponding Travis issue
  # https://github.com/travis-ci/travis-ci/issues/8361
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
      sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6';
    fi
install:
    - pip install flake8
script: make test
addons:
  apt:
    packages:
      - busybox
notifications:
  email:
    recipients:
      - barberio@fb.com
      - pallotron@fb.com
