# Copyright (c) Facebook, Inc. and its affiliates.

# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.


include AUTHORS
include CONTRIBUTING.md
include LICENSE
include LICENSE-examples
include PATENTS
include README.md
recursive-include fbtftp *
recursive-include examples *
recursive-include tests *
